*{
    margin: 0;
    padding: 0;
}

header{
    padding: 30px 130px 20px 240px;
    border-bottom: solid 1px lightgray;
}

#header-top{
    display: flex;
}

.header-top-imgs{
    height: 35px;
    margin: 5px;
    cursor: pointer;
}

#searchbar{
    background-color: #F5F5F5;
    border-radius: 50px 50px;
    border: none;
    width: 320px;
    padding: 8px 10px 8px 10px;
    margin-left: 900px;
}

#searchbar i{
    font-size: 25px;
    float: right;
    margin-right: 5px;
}

#modal-searchbar{
    background-color: #F5F5F5;
    border-radius: 50px 50px;
    border: none;
    width: 320px;
    padding: 8px 10px 8px 10px;
}

#modal-searchbar i{
    font-size: 25px;
    float: right;
    margin-right: 5px;
}